---
extends: default

rules:
  document-start: disable
  line-length:
    max: 160
  indentation: disable
  truthy:
    check-keys: false
  brackets: disable
  trailing-spaces: disable
  new-line-at-end-of-file: disable
