---
extends: default

rules:
  document-start: disable
  line-length:
    max: 160
  indentation:
    spaces: consistent
  truthy:
    check-keys: false
  brackets: disable
  trailing-spaces: disable
